<!DOCTYPE html>
<html ng-app="auraApp">
	<head>
		<link rel="shortcut icon" href="resources/media/miniaura.ico" />
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<script src="resources/js/angularJS.js"></script>
		<script src="resources/js/angularJS-route.js"></script>
		<script src="resources/js/jquery.min-1.8.js"></script>
		<script src="resources/js/dirPagination.js"></script>
		<script src="resources/js/auraDatosRevista2.js"></script>
		<script src="resources/js/config.js"></script>
		<link rel="stylesheet" href="resources/css/header-footer.css">
		<link rel="stylesheet" href="resources/css/pie-ameli.css">
		<link rel="stylesheet" href="resources/css/auraCSS.css" type="text/css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		<title>Detalle de revista</title>
		<style type="text/css">
			.table td, .table th {
    			border: 2px solid #dee2e6;
    			text-align: center;

    			
			}
			
			.bg-success {
    			background-color: #28a745!important;
    			color: white;
			}

			.bg-primary {
    			color: blue ;
			}
		</style>
	</head>
	<body ng-controller="auraController">
		<div class="content">
			<div id="header-aura">
				<div class="header-logo-aura">
					<a href="index.html">
						<img src="resources/media/aura-01.png">
					</a>
				</div>
				<div class="header-ligas">
					<a href="index.html">
						<span>{{t.menu.op1}}</span><!--{{t.menu.op1}}-->
					</a>
					<a href="https://aura.amelica.org/aura-estadisticas.html">
						<span>{{t.menu.op2}}</span><!--{{t.menu.op2}}-->
					</a>
					<a href="https://aura.amelica.org/acerca-de-aura.html">
						<span>{{t.menu.op3}}</span><!--{{t.menu.op3}}-->
					</a>
					<a href="incluir-revista.html">
						<span class="header-option-now">{{t.menu.op4}}</span><!--{{t.menu.op4}}-->
					</a>
				</div>
				<div id="header-idioma">
					<a id="aLink" style="cursor: pointer;" ng-click="myFunc('en')">EN</a>
					<a id="aLink" style="cursor: pointer;" ng-click="myFunc('es')">ES</a>
				</div>
			</div>
		</div>
		<div class="linea-gris-separator"></div>
		<div class="content" style="margin: 30px auto">
			<div class="list-title text-bold" style="text-align: left!important; width: 92%!important">
				<a href="index.html">
					<span>&#62;&#62; {{t.detalleRevista.regresar}}</span><!--{{t.menu.op3}}-->
				</a>
			</div>

			<div class="table-responsive-xl">
				<!--<div ng-if="idioma === 'es'" style="background: #efefef; width: 100%; height: 10px; padding: 10px;">Políticas de apertura y derechos de explotación de:</div>
				<div ng-if="idioma === 'en'" style="background: #efefef; width: 100%; height: 10px; padding: 10px;">Opening policies and exploitation rights of:</div>
				<div><img style="width: 100%" src="resources/documents/fichas/{{claveRevista}}.PNG"></div>-->
				
				<div id="ficha" ng-init="cargarDatos()">
					<table class="table">
					    <thead>
					    <tr>
					      <th colspan="3" style="text-align: left;border: none;text-align: center;">Políticas de apertura y derechos de explotación de:</th>
					      </tr>
					      <tr>
					        <th colspan="3" class="tr-background"  ng-style="color_romeo">{{nomRevista}}</th>
					      </tr>
					    </thead>
					    <tbody>   
					      <tr class="editorial">
					        <td style="width: 35%;">{{t.detalleRevista.editorial}}:</td><!--editorial-->
					        <td> {{nomInstitucion}}</td><!--{{nomInstitucion}}-->
					      </tr>
					      <tr class="danger tr-background" ng-style="color_romeo">
					        <td>{{t.detalleRevista.titularDerechos}}:</td><!--titularDerechos-->
					        <td>{{titularDerechos}}</td>
					      </tr>
					      <tr class="info">
					        <td>{{t.detalleRevista.issnElectronico}}: </td>
					        <td>{{issnElectronico}}</td>
					      </tr>
					      <tr class="warning tr-background"ng-style="color_romeo">
					        <td>{{t.detalleRevista.issnImpreso}}: </td>
					        <td>{{issnImpreso}}</td>
					      </tr>
					      <tr class="warning tr-background">
					        <td>{{t.detalleRevista.issnL}}: </td>
					        <td>{{issnL}}</td>
					      </tr>
					      <tr class="active"ng-style="color_romeo">
					        <td>{{t.detalleRevista.urlRevista}}: </td>
					        <td><a href={{urlRevista}}>{{urlRevista}}</a></td>
					      </tr>
					      <tr class="active tr-background"><!--ng-init="obtenerCategoria()"-->
					        <td>{{t.detalleRevista.nomCategoria}}: </td>
							<td>{{nomCategoria}}</td>
					      </tr>
					      <tr class="active"ng-style="color_romeo">
					        <td>{{t.detalleRevista.acceso}}: </td>
					        <td>{{acceso}}</td>
					      </tr>
					      <tr class="active tr-background">
					        <td>{{t.detalleRevista.mesesEmbargo}}: </td>
					        <td>{{mesesEmbargo}}</td>
					      </tr>
					      <tr class="active"ng-style="color_romeo">
					        <td>{{t.detalleRevista.derechosExplotacion}}: </td>
					        <td>{{derechosExplotacion}}</td>
					      </tr>
					      <tr class="active tr-background" >
					        <td>{{t.detalleRevista.ubicacionMencionDerechos}}: </td>
					        <td>{{ubicacionMencionDerechos}}</td>
					      </tr>
					      <tr class="active" ng-style="color_romeo">
					        <td>{{t.detalleRevista.urlMencionDerechos}}: </td>
					        <td><a href={{urlMencionDerechos}}>{{urlMencionDerechos}}</a></td>
					      </tr>
					      <tr class="active tr-background"  >
					        <td>{{t.detalleRevista.licenciaPublicacion}}: </td>
					        <td>{{licenciaPublicacion}}</td>
					      </tr>	
					      <tr class="active" ng-style="color_romeo">
					        <td>{{t.detalleRevista.urlInstruccionAutor}}: </td>
					        <td><a href={{urlInstruccionAutor}}>{{urlInstruccionAutor}}</a></td>
					      </tr>	
					      <tr class="active tr-background" >
					        <td>{{t.detalleRevista.autoArchivo}}: </td>
					        <td>{{autoArchivo}}</td>
					      </tr>	
					      <!--<tr class="active" ng-style="color_romeo">
					        <td>{{t.detalleRevista.versionAutoarchivo}}: </td>
					        <td>{{versionAutoarchivo}}</td>
					      </tr>	
					      <tr class="active tr-background" >
					        <td>{{t.detalleRevista.autoarchivoMomento}}: </td>
					        <td>{{autoarchivoMomento}}</td>
					      </tr>
					      <tr class="active" ng-style="color_romeo">
					        <td>{{t.detalleRevista.ubicacionAutoarchivo}}: </td>
					        <td>{{ubicacionAutoarchivo}}</td>
					      </tr>
					      <tr class="active" >
					          <td>{{t.detalleRevista.colorRomeo}}: </td>
					          <td>{{colorRomeo}}</td>
					          <div ng-style="color_romeo"></div>
					      </tr>-->
							<tr class="active " ng-style="color_romeo" ng-init="obtenerIndizaciones();">
					        <td>{{t.detalleRevista.textoIndizacion}}: </td>
							<td >{{textoIndizacion}} </td>

					      </tr>	

					    </tbody>
					  </table>
				</div>
			</div>
		</div>

		<footer>
            <div id="pre-prePie" ng-if="idioma === 'es'">
                <div class="icon-pre-pre">
                    <a href="https://portal.amelica.org/index.oa">
                        <img alt="" src="resources/media/proyectos-02-contenido.png" title="Portal de libros y revistas">
                        <p>Portal de libros y revistas</p>
                    </a>
                </div>
                <div class="icon-pre-pre">
                    <a href="https://portal.amelica.org/ameli/">
                        <img alt="" src="resources/media/proyectos-03-xml.png" title="Ameli XML">
                        <p>AmeliCA XML</p>
                    </a>
                </div>
                <div class="icon-pre-pre">
                    <a href="https://ojs.amelica.org">
                        <img alt="" src="resources/media/proyectos-04-ojs.png" title="Comunidad OJS">
                        <p>Comunidad OJS: usuarios y desarrolladores</p>
                    </a>
                </div>
                <div class="icon-pre-pre">
                    <a href="https://www.amelica.org/proyectos/metricas.html">
                        <img alt="" src="resources/media/proyectos-05-metricas.png" title="M&eacute;tricas responsables">
                        <p>M&eacute;tricas Responsables</p>
                    </a>
                </div>
                <div class="icon-pre-pre">
                    <a href="https://www.amelica.org/proyectos/profesionalizacion.html">
                        <img alt="" src="resources/media/proyectos-06-profesionalizacion.png" title="Profesionalizaci&oacute;n editorial">
                        <p>Profesionalizaci&oacute;n Editorial</p>
                    </a>
                </div>
                <div class="icon-pre-pre">
                    <a href="https://www.amelica.org/proyectos/ciencia.html">
                        <img alt="" src="resources/media/proyectos-07-ciencia.png" title="Ciencia abierta">
                        <p>Ciencia Abierta</p>
                    </a>
                </div>
                <div class="icon-pre-pre">
                    <a href="https://aura.amelica.org">
                        <img alt="" src="resources/media/proyectos-08-aura.png" title="Propiedad intelectual">
                        <p>AURA</p>
                    </a>
                </div>
                <div class="icon-pre-pre">
                    <a href="https://www.amelica.org/index.php/index-entradas/">
                        <img alt="" src="resources/media/proyectos-09-blog.png" title="Blog">
                        <p>Blog Ameli</p>
                    </a>
                </div>
                <div class="icon-pre-pre">
                    <a href="https://www.amelica.org/proyectos/repositorios.html">
                        <img alt="" src="resources/media/proyectos-10-repositorios.png" title="Repositorios">
                        <p>Repositorios</p>
                    </a>
                </div>
                <div class="icon-pre-pre">
                    <a href="https://portal.amelica.org/observatorio/">
                        <img alt="" src="resources/media/proyectos-11-observatorio.png" title="Observatorio">
                        <p>Observatorio de Evaluci&oacute;n</p>
                    </a>
                </div>
            </div>

            <div id="pre-prePie" ng-if="idioma === 'en'">
                <div class="icon-pre-pre">
                    <a href="https://portal.amelica.org/index.oa">
                        <img alt="" src="resources/media/proyectos-02-contenido.png" title="Portal de libros y revistas">
                        <p>Book Portal and journals</p>
                    </a>
                </div>
                <div class="icon-pre-pre">
                    <a href="https://portal.amelica.org/ameli/">
                        <img alt="" src="resources/media/proyectos-03-xml.png" title="Ameli XML">
                        <p>AmeliCA XML</p>
                    </a>
                </div>
                <div class="icon-pre-pre">
                    <a href="https://ojs.amelica.org">
                        <img alt="" src="resources/media/proyectos-04-ojs.png" title="Comunidad OJS">
                        <p>OJS Community: Users and developers</p>
                    </a>
                </div>
                <div class="icon-pre-pre">
                    <a href="https://www.amelica.org/proyectos/metricas.html">
                        <img alt="" src="resources/media/proyectos-05-metricas.png" title="M&eacute;tricas responsables">
                        <p>Responsible Metrics</p>
                    </a>
                </div>
                <div class="icon-pre-pre">
                    <a href="https://www.amelica.org/proyectos/profesionalizacion.html">
                        <img alt="" src="resources/media/proyectos-06-profesionalizacion.png" title="Profesionalizaci&oacute;n editorial">
                        <p>Editorial professionalization</p>
                    </a>
                </div>
                <div class="icon-pre-pre">
                    <a href="https://www.amelica.org/proyectos/ciencia.html">
                        <img alt="" src="resources/media/proyectos-07-ciencia.png" title="Ciencia abierta">
                        <p>Open Science</p>
                    </a>
                </div>
                <div class="icon-pre-pre">
                    <a href="https://aura.amelica.org">
                        <img alt="" src="resources/media/proyectos-08-aura.png" title="Propiedad intelectual">
                        <p>AURA</p>
                    </a>
                </div>
                <div class="icon-pre-pre">
                    <a href="https://www.amelica.org/index.php/index-entradas/">
                        <img alt="" src="resources/media/proyectos-09-blog.png" title="Blog">
                        <p>Blog Ameli</p>
                    </a>
                </div>
                <div class="icon-pre-pre">
                    <a href="https://www.amelica.org/proyectos/repositorios.html">
                        <img alt="" src="resources/media/proyectos-10-repositorios.png" title="Repositorios">
                        <p>Repositories</p>
                    </a>
                </div>
                <div class="icon-pre-pre">
                    <a href="https://portal.amelica.org/observatorio/">
                        <img alt="" src="resources/media/proyectos-11-observatorio.png" title="Observatorio">
                        <p>Evaluation Observatory</p>
                    </a>
                </div>
            </div>
    
            <div layout="block" id="footer">
                <div style="display: inline-block">
                    <img src="resources/media/lineaColoresFooter.png" class="lineaColores"></img>
                    
                    <div class="pre-pie-home" ng-if="idioma === 'es'">
                        <div class="content-links">
                            <div class="links-pre-pie">
                                <a target="_blank" href="https://www.amelica.org/#modeloB">El Modelo</a>
                            </div>
                            <div class="links-pre-pie">
                                <a target="_blank" href="https://www.amelica.org/index.php/principios-y-valores/">Principios y valores</a>
                            </div>
                            <div class="links-pre-pie">
                                <a target="_blank" href="https://www.amelica.org/index.php/que-es-ameli/">¿Qu&eacute; es AmeliCA?</a>
                            </div>
                            <div class="links-pre-pie">
                                <a target="_blank" href="https://amelica.org/index.php/estructura-organica/">¿Quiénes somos?</a>
                            </div>
                            <div class="links-pre-pie">
                                <a target="_blank" href="https://www.amelica.org/index.php/preguntas-frecuentes/">Preguntas Frecuentes</a>
                            </div>
                        </div>
                    </div>
                    <div class="pre-pie-home" ng-if="idioma === 'en'">
                        <div class="content-links">
                            <div class="links-pre-pie">
                                <a target="_blank" href="https://amelica.org/index.php/en/home/#modeloB">Our model</a>
                            </div>
                            <div class="links-pre-pie">
                                <a target="_blank" href="https://amelica.org/index.php/en/principles-and-values/">Principles and values</a>
                            </div>
                            <div class="links-pre-pie">
                                <a target="_blank" href="https://amelica.org/index.php/en/about/">About</a>
                            </div>
                            <div class="links-pre-pie">
                                <a target="_blank" href="https://amelica.org/index.php/en/organizational-chart/">Our team</a>
                            </div>
                            <div class="links-pre-pie">
                                <a target="_blank" href="https://amelica.org/index.php/en/faq/">FAQ</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="pie">
                    <!-- <div id="greca-ameli-pie"></div> -->           
                    <div id="imagen-fondo-pie">
                        <div id="texto-pie" class="texto-conocimiento" ng-if="idioma === 'es'">
                            <p class="texto-resaltado">Conocimiento Abierto para <br/> </p>
                            <span>sin fines de lucro</span><br>
                            <span>propiedad de la academia </span> 
                        </div>
                        <div id="texto-pie" class="texto-conocimiento" ng-if="idioma === 'en'">
                            <p class="texto-resaltado">Open Knowledge <br/> </p>
                            <span>not-for-profit</span><br>
                            <span>academy ownership</span> 
                        </div>
                        <div id="linea-cs"></div>
                        <div class="nivel">
                            <div id="logotipo-pie1" class="logotipo nivel1"><a class="enlace-pie" href="https://es.unesco.org" target="_blank"></a></div>
                            <div id="logotipo-pie2" class="logotipo nivel1"><a class="enlace-pie" href="https://www.clacso.org.ar" target="_blank"></a></div>
                            <div id="logotipo-pie3" class="logotipo nivel1"><a class="enlace-pie" href="https://www.redalyc.org" target="_blank"></a></div>
                        </div>
                        <!--<div id="linea-cs"></div>
                        <div class="nivel">
                            <div id="logotipo-pie4" class="logotipo nivel2"><a class="enlace-pie" href="http://www.uaemex.mx" target="_blank"></a></div>
                            <div id="logotipo-pie5" class="logotipo nivel2"><a class="enlace-pie" href="https://unlp.edu.ar" target="_blank"></a></div>
                            <div id="logotipo-pie6" class="logotipo nivel2"><a class="enlace-pie" href="http://www.udea.edu.co/wps/portal/udea/web/inicio/!ut/p/z1/hY7LDoIwEEW_hQXbzrSCqe4axAWiYIIRuzEQETAIpCD-vo0a48LH7GbuuScDEmKQdTKUedKXTZ1Uet_J8Z5PHEaFhT5HPkexjnzX2iwRAxu2_wCpY_wyAnVf3pGXARfU1gY3XEWBE8489gR-ODyQedWkj3dFnY54DlJlx0xlilyUPhd9305NNJFanDBqE0aYiddGHVqVdZ2Jn5pF0_UQvzWgPcd4sqvBF4ZxA-2zvhU!/dz/d5/L2dBISEvZ0FBIS9nQSEh" target="_blank"></a></div>
                        </div> -->
                    </div> 
                    <!--<div id="texto-tecnologia">
                        <div id="texto-logo"></div>
                    </di>   -->
                </div>
            </div>
        </footer>
	</body>
</html>